extends ../layout

block content
  header
    a(href='/fitness')
      img(src='/images/icon.png')
    h1.header Fitness Tracker
    a.userHead(href='/fitness/' + user._id + '/summary')= user.name
  .container
    h1 Your Daily Summary
    h2= title
    table
      tr
        th Goal
        th Food
        th Exercise
        th Calories Remaining
      td= goal
      td.big
        img.minus(src='/images/minus.png')
        |#{gained}
      td + #{lost}
      td= remaining
    h3 Food
    div.addLink
      a(href='/fitness/' + user._id + '/' + date + '/add-food') Add Food
    table
      tr
        th Food
        th Calories
      if foods
        for meal in foods
          tr
            td= meal.food
              form.inline(action='/fitness/' + user._id + '/' + date + '/' + meal.food + '/delete-food' method='POST')
                input.delete(type="submit", value="Delete")
            td= meal.calories
    h3 Exercise
    div.addLink
      a(href='/fitness/' + user._id + '/' + date + '/add-exercise') Add Exercise
    table.bottomex
      tr
        th Exercise
        th Calories Burned
      if exercises
        for elem in exercises
          tr
            td= elem.exercise
              form.inline(action='/fitness/' + user._id + '/' + date + '/' + elem.exercise + '/delete-exercise' method='POST')
                input.delete(type="submit", value="Delete")
            td= elem.calories